
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
cmd
.env
quality-observability-playwright-reporter-0.1.0.tgz
/packages/reporter/dist/